{{define "content"}}
<main class="evolution-page">
    <section aria-label="Evolution Timeline">
        <div class="timeline">
            {{range .EvolutionData.Events}}
            <div class="timeline-item">
                <h2 class="timeline-date">{{.Date}}</h2>
                <div class="timeline-content">
                    <h3>{{.Title}}</h3>
                    <ul class="timeline-details">
                        {{range .DescriptionLines}}
                        <li>{{.}}</li>
                        {{end}}
                    </ul>
                    {{if .Artifacts}}
                    <ul class="timeline-artifacts">
                        {{range .Artifacts}}
                        <li><a href="https://github.com/victoriacheng15/personal-reading-analytics/blob/main/{{.URL}}" target="_blank" rel="noopener noreferrer">{{.Name}}</a></li>
                        {{end}}
                    </ul>
                    {{end}}
                </div>
            </div>
            {{end}}
        </div>
    </section>
</main>
{{end}}
{{template "base" .}}
