name: Analytics Deployment

on:
  push:
    branches:
      - main
    paths:
      - 'metrics/**'
      - 'cmd/**'
      - '.github/workflows/deployment.yml'
  workflow_dispatch:

env:
  go-version: '1.24'

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.1
      - uses: actions/setup-go@v6.2.0
        with:
          go-version: ${{ env.go-version }}

      - name: Build and generate analytics
        run: make run-analytics

      - uses: actions/configure-pages@v5.0.0
      - uses: actions/upload-pages-artifact@v4.0.0
        with:
          path: 'site'

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4.0.5
