name: Daily Extraction

on:
  schedule:
    - cron: "0 6 * * *" # Run the workflow every day at 6 AM UTC
  workflow_dispatch:

jobs:
  extract:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6.0.0
      - name: Set up Python
        uses: actions/setup-python@v5.6.0
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: |
          python3 -m pip install --upgrade pip
          python3 -m pip install -r requirements.txt

      - name: Create credentials.json
        run: |
          echo '${{ secrets.CREDENTIALS }}' > credentials.json

      - name: Verify credentials.json
        run: |
          if [ -f credentials.json ]; then
            echo "Credentials file exists."
          else
            echo "Credentials file not found."
            exit 1
          fi

      - name: Run Python script
        id: generate-log
        run: |
          # LOG_FILE="extraction-log-$(date +%Y-%m-%d).txt"
          # make run > "$LOG_FILE" 2>&1
          # seems like LOg_FILE is casuing the exit code 2 isse...?
          python3 script/main.py
          # echo "Log saved to $LOG_FILE"
          # echo "LOG_FILE=$LOG_FILE" >> "$GITHUB_OUTPUT"
        env:
          SHEET_ID: ${{ secrets.SHEET_ID }}

      - name: Clean up credentials.json
        run: rm -f credentials.json

      # - name: Upload log file
      #   uses: actions/upload-artifact@v5.0.0
      #   with:
      #     name: extraction-log
      #     path: ${{ steps.generate-log.outputs.LOG_FILE }}
